---
---

@import "{{ site.theme }}";

@import "post";
@import "home";

figure {
    padding: 5px;
    display: flex;
    flex-flow: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: #666;
    font-style: italic;
    padding: 2px;
    text-align: center;
    font-size: smaller;
}

.site-nav {
    z-index: 100000;
}