---
---

@import "{{ site.theme }}";

@import "post";
@import "home";

figure {
    padding: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: #666;
    font-style: italic;
    padding: 2px;
    text-align: center;
    font-size: smaller;
}

.responsive-dim-limits {
    max-width:70vw;
    max-height:80vh;
}

.site-nav {
    z-index: 100000;
}